body{
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    margin: 0;
    overflow: hidden;
    background-color: rgb(241, 234, 234);
}

.main{
    min-width: 100%;
    min-height: 100%;
    position:absolute;
    display: block;
    margin: 0;
    background-image: url('./public/background.png');
    background-size:100%;
    background-position:auto;
    background-repeat: no-repeat;
    overflow: hidden;
    user-select: none;
}

.logoblock{
    width:100vw;
    height:8vh;
    position: relative;
    display:flex;
    padding: 5px;
    background-color:rgba(245, 245, 245,0.5) ;
    justify-content: center;
    align-content: center;
}

.logoblock img{
   width: 400px;
   height:50px;
   object-fit: cover;
   margin-top: 14px;
   display: flex;
   transform: scale(0.9);
   overflow: hidden;
}

.runningWord{
    font-size: 14.5rem;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    animation: runningword 18s linear infinite;
    color: rgba(255, 255, 255, 0.6)
}

@keyframes runningword{
    0% {
     transform: translateX(100%);
     color:cornflowerblue;
    }
    100% {
     transform: translateX(-100%);
     color: whitesmoke; 
    }
}

.users{
    position: relative;
    width: 320px;
    height: 400px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.usersblock{
    position: relative;
    width:fit-content;
    height:100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    margin-top:2px;
    overflow: hidden;
   
}

.cardBlock{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    background-color:rgba(255, 255, 255, 0.4);
    gap:12px;
    padding: 15px;
    border-radius: 15px;
}

.scaleUp{
    transform: scale(1.45);
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 130px;
    transition: 2S;
}

.users .imgBox{
position: relative;
width: 100%;
height: 240px;
background-color:rgba(255, 255, 255, 0.4);
border-radius: 15px;
}

.imgBox1{
    background-image: url(./public/build.jpg);
    background-size:300%;
    background-position:0px;
}

.imgBox1:hover{
    background-image: url(./public/yu.jpg);
    background-size: 100%;
    transition: 0.2s linear;
    transform-origin: center;
}

.imgBox2{
    background-image: url(./public/build.jpg);
    background-size:300%;
    background-position:-300px;
}

.imgBox2:hover{
    background-image: url(./public/11.jpg);
    background-size: 100%;
    transform-origin: top;
    transition: 0.3s;
    background-repeat: no-repeat;
    background-position: center;
}

.imgBox3{
    background-image: url(./public/build.jpg);
    background-size:300%;
    background-position:-630px;
}

.imgBox3:hover{
    background-image: url(./public/chen.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s ease-in-out;
    transform-origin: center;
}


.users .imgBox1::before{
position: absolute;
content: '';
width: 25px;
height: 25px;
background:transparent;
border-radius: 50%;
top: 136px;
box-shadow:-10px 10px 0 #F5F5F5 ;
}

.users .imgBox2::before{
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    background:transparent;
    border-radius: 50%;
    top: 136px;
    box-shadow:-10px 10px 0 #e1f8fd ;
}

.users .imgBox3::before{
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    background:transparent;
    border-radius: 50%;
    top: 136px;
    box-shadow:-10px 10px 0 #e1f8fd ;
}

.users .imgBox1::after{
content: '';
position: absolute;
width: 25px;
height: 25px;
background:transparent;
left: 169px;
top:215px;
border-radius: 50%;
box-shadow: -10px 10px 0 #F5F5F5;
}

.users .imgBox2::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background:transparent;
    left: 169px;
    top:215px;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #e1f8fd;
}

.users .imgBox3::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background:transparent;
    left: 169px;
    top:215px;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #e1f8fd;
}
    

.users .content{
position: relative;
width: 100%;
height: 150px;
background-color:navy;
border-radius: 15px;
border-top-left-radius: 0;
}

.users .content1 .price{
position: absolute;
top: -89px;
height: 80px;
width: 50%;
background-color:navy;
border-top: 10px solid #F5F5F5;
border-right:10px solid #F5F5F5;
border-top-right-radius: 25px;
}

.users .content2 .price{
    position: absolute;
    top: -89px;
    height: 80px;
    width: 50%;
    background-color:navy;
    border-top: 10px solid #e1f8fd;
    border-right:10px solid #e1f8fd;
    border-top-right-radius: 25px;
}

.users .content3 .price{
    position: absolute;
    top: -89px;
    height: 80px;
    width: 50%;
    background-color:navy;
    border-top: 10px solid #e1f8fd;
    border-right:10px solid #e1f8fd;
    border-top-right-radius: 25px;
}

.users .content1 .price::before{
position: absolute;
content:"";
width: 25px;
height: 25px;
background-color: transparent;
border-radius: 50%;
box-shadow: -10px -10px 0 #F5F5F5;
}

.users .content2 .price::before{
    position: absolute;
    content:"";
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: -10px -10px 0 #e1f8fd;
}

.users .content3 .price::before{
    position: absolute;
    content:"";
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: -10px -10px 0 #e1f8fd;
}

.users .content .price::after{
position: absolute;
content:"";
width: 25px;
height: 25px;
top: 54px;
left: 160px;

border-radius: 50%;
box-shadow: -10px 10px 0 navy; 
}


.nameBlock{
width: 140px;
height: 55px;
background-color:lightsteelblue;
border-radius: 15px;
display:grid;
justify-items:center;
align-items:center;
margin: 10px;
}

.nameBlock:hover{
    animation:changeColor 2s linear infinite;
    transform: rotateY(720deg);
    transition: 1.2s ease-out;
}

@keyframes changeColor {
    50%{
        color: #ffffff;
    }
    100%{
        color: rgba(0, 0, 0, 0.568);
    }
}

.shareCard{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap:60px;
}

.work{
    width: 270px;
    height: 50px;
    background-color: cornflowerblue;
    margin-top: 15px;
    border-radius:15px;
    display:flex;
    justify-content:center ;
    flex-direction: row;
    transition: 0.5s ease-in;
}

.work i{
    position: relative;
    font-size: 2.5rem;
    left:-25px;
    color:rgba(65, 105, 225, 0.7);
}

.work h3{
    position: relative;
    top: -5px;
    color:#F5F5F5;
}


.work:hover{
    width: 250px;
    height: 200px;
    border-radius: 15px;
    transform: translate3d(0px, -145px, 130px) rotate3d(1, 0, 0, 0deg) scale3d(1.2, 1.2, 1.9);
    transition: 3s;
    border-bottom: 2px solid black;
}


.listBlock ul{
    list-style: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: antiquewhite;
}

.listBlock ul li{
    margin-top: 3px;
}

.filePage1{
    width: 250px;
    height: 150px;
    background-color: transparent;
    transform: scale(0.9) rotate3d(1,0,0,90deg) translate3d(0px,0px,130px);
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    position: absolute;
}

.filePage1 h2{
    transform: scale(0);
    margin-top: 5px;
    margin-right: 10px;
}

.filePage2{
    width: 250px;
    height: 150px;
    background-color: transparent;
    transform: scale(1.1) rotate3d(1,0,0,90deg) translate3d(0px,0px,130px);
    position: absolute;
}

.filePage2 h2{
    transform: scale(0);
    margin-top: 5px;
    margin-left: 10px;
}

.filePage3{
    width: 250px;
    height: 150px;
    background-color: transparent;
    transform: scale(1.3) rotate3d(1,0,0,90deg) translate3d(0px,0px,130px);
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    position: absolute;
}

.filePage3 h2{
    transform: scale(0);
    margin-top: 5px;
    margin-right:10px;
}

.filePage4{
    width: 250px;
    height: 150px;
    background-color: transparent;
    position: absolute;
    transform: scale(1.5) rotate3d(1,0,0,90deg) translate3d(0px,0px,130px);
}

.work:hover h3{
    transform: translate3d(-10px, -10px, 150px);
    transition: 2s;
}

.work:hover i{
    transform: translate3d(0px, 117px, 130px);
    transition: 2s;
    transition-delay: 1.5s;
    position: relative;
    z-index: 9;
    color: rgba(243, 241, 102, 0.9);
}

.work:hover .filePage1{
    transform: scale(1);
    background-color:#FFF5F5;
    margin-top:30px;
    border-radius: 15px;
    position: absolute;
    transition: 2.2s;
    box-shadow: 0px -2px 1.3px rgba(0, 0, 0, 0.8) ;
}

.work:hover .filePage2{
    transform: scale(1);
    width: 250px;
    height: 130px;
    background-color:#F0F8FF ;
    margin-top:60px;
    border-radius: 15px;
    position: absolute;
    transition: 2s;
    box-shadow: 0px -2px 1.3px rgba(0, 0, 0, 0.8) ;
}

.work:hover .filePage3{
    transform: scale(1);
    width: 250px;
    height: 110px;
    background-color:#E6F9F0;
    margin-top:90px;
    border-radius: 15px;
    position: absolute;
    transition: 1.8s;
    box-shadow: 0px -2px 1.3px rgba(0, 0, 0, 0.8) ;
}

.work:hover .filePage4{
    transform: scale(1);
    width: 250px;
    height: 90px;
    background-color: cornflowerblue;
    margin-top:120px;
    border-radius: 15px;
    position: absolute;
    transition: 1.6s;
    box-shadow: 0px -2px 1.3px rgba(0, 0, 0, 0.8) ;
    border-bottom: 2px solid black;
}

.work:hover .filePage1:hover{
    position: absolute;
    margin-top: 0px;
    background-color:lightpink;
}

.work:hover .filePage1:hover .work i{
    position: relative;
    z-index: 1;
    transform: translate3d(0,-120px, 130px);
    transition-delay: 2s;
    transition: 2s;
}

.work:hover .filePage1:hover h2{
    transform: scale(1);
    transition:1.5s;
    transform-origin: right;
}

.work:hover .filePage2:hover{
    position: absolute;
    margin-top: 30px;
    background-color:lightblue;
}

.work:hover .filePage2:hover h2{
    transform: scale(1);
    transition:1.5s;
    transform-origin: right;
}

.work:hover .filePage3:hover{
    position: absolute;
    margin-top: 50px;
    background-color:lightgreen;
}

.work:hover .filePage3:hover h2{
    transform: scale(1);
    transition:1.5s;
    transform-origin: left;
}

.footer{
    width: 100%;
    height:10vh;
    background-color: rgba(222, 222, 238, 0.4);
    position: relative;
    margin-top:16vh;
}

.footer .contact p{
    color:black;
}

.contact{
    display: flex;
    position: relative;
    width:fit-content;
    height: 100%;
    justify-items: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.contact i{
    width: fit-content;
    position: relative;
    font-size: 1.4rem;
    margin-left: 55px;
}

.contact h3{
    width: fit-content;
    position: relative;
}

.button{
    position: absolute;
    color:rgba(255, 255, 255, 0.4);
    background-color:transparent;
    border: none;
    border-radius: 15px;
    padding: 8px;
    font-size: 2.8rem;
    top:50%;
    left:94%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    z-index: 9;
    animation: colorchange 2.5s ease-out infinite;
}

@keyframes colorchange{
    20%{
        color: #e1f8fd;
    }
    100%{
        color: aliceblue;
    }
}



.groupReport{
    width: 840px;
    height: 490px;
    background-color: rgba(187, 56, 56, 0.4);
    position: absolute;
    left:1105px;
    top: 300px;
    border-radius: 15px;
    transform: scale(0);
    transition: 4S;
}

.button:hover .groupReport{
    width: 840px;
    height: 490px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left:-1305px;
    top: -280px;
    border-radius: 15px;
    transform: scale(1);
    transition: 1.5s ease-in-out;
    justify-content: center;
    align-content: center;
    display: flex;
}

.reportImg{
    width: 800px;
    height: 450px;
    border-radius: 15px;
    position:relative;
    background-image:url(public/113.png);
    background-size: cover;
    display: flex;
    margin: 20px;
}

.button:hover + .scaleUp{
    transform: translateX(-430px) scale(0.85) translateY(-180px);
    transition: 1.5s ease-in-out;
}

.poster{
    width: 1100px;
    height: 570px;
    background-color: rgba(187, 56, 56, 0.4);
    position: absolute;
    left:1105px;
    top: 700px;
    border-radius: 15px;
    transform: scale(0);
    transition-delay: 3s;
    transition: 2s;
}

.button:hover .poster{
    width: 860px;
    height: 510px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left:-905px;
    top: -150px;
    border-radius: 15px;
    transform: scale(1);
    transition:2s ease-in-out;
}

.posterImg{
    width: 820px;
    height: 470px;
    border-radius: 15px;
    position:relative;
    background-image:url(public/poster.png);
    background-size: cover;
    display: flex;
    margin: 20px;
}
